a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* presets */

    html{
        font-size: 15px;
        background-color: black;
        scroll-behavior: smooth; 
        overflow-x: hidden;       
    }

    img{
        max-width: 100%;
        height: auto;
    }

    a{
        color:#E9EBFF;
        text-decoration: none;
        font-size: 1rem;
        transition: all 300ms ease-out;
        font-family: 'Fredoka', sans-serif;
        font-family: 'Roboto Mono', monospace;
    }

    a:hover{
        color: #EFCA08;
    }

    .hoverFilter{
        filter: grayscale(100);
        transition: all 200ms ease-in;
    }

    .hoverFilter:hover{
        filter: none;
    }

    .hoverBackground{
        background-color: #E9EBFF;
        transition: all 200ms ease-in;
    }

    .hoverBackground:hover{
        background-color: #EFCA08;
    }

    .clear{
        clear: both;
    }

    .radius{
        border-radius: 20px;
    }

    .stripe{
        background-color: #E9EBFF;
    }

    .stripe:hover{
        background-color: #EFCA08;
    }

    .s-vert{
        width:5px;
    }

    .s-hort{
        height: 5px;
    }

 /* text style */



    h1{
        font-family: 'Fredoka', sans-serif;
        font-size: 2.5rem;
        color: #EFCA08;
        transition: all 200ms ease-in;
        cursor: default;
        margin-bottom: 1rem;
    }

    h2{
        font-family: 'Fredoka', sans-serif;
        font-size: 1.5rem;
        color: #EFCA08;
        transition: all 200ms ease-in;
        cursor: default;
        line-height: 1.8rem;
    }

    h3{
        font-family: 'Roboto Mono', monospace;
        font-size: 2rem;
        color: #E9EBFF;
        transition: all 200ms ease-in;
        cursor: default;
    } 

    p{
        font-family: 'Roboto Mono', monospace;
        font-size: 1rem;
        color: #E9EBFF;
        transition: all 200ms ease-in;
        cursor: default;
    } 

    h1:hover{
        color: #E9EBFF;
    }

    h2:hover{
        color: #E9EBFF;
    }

    h3:hover{
        color: #EFCA08;
    }

    p:hover{
        color: #EFCA08;
    }


/* header */
    header{
        top: 0;
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: calc(40px + 1.5rem + 40px);
        background: linear-gradient(180deg, rgba(0,0,0,1) 74%, rgba(0,0,0,0.6026785714285714) 90%, rgba(0,0,0,0) 100%);
    }

    #headerWrapper{
        width: fit-content;
        margin:0 auto;
    }
    header a{
        display: block;
        padding-top: 40px;
        margin-right: 10vw;
        float: left;
    }
    header a:last-of-type{
        margin-right: 0;
    }
    

/* home */

    #logo{
        display: block;
        max-width: 50vw;
        margin:0px auto 0 auto;
        transition: all 150ms ease-in-out;
    }
    section a{
        color:#EFCA08; 
        font-family: 'Roboto Mono', monospace;
        font-size: 2.5rem;
        line-height: 90px; 
 
    }
    section .typer{
        margin: 100px 30px; 
        text-align: center;

    }
    .typer:hover a{
        color: #fff;
    }
    #home{
        padding:20vh 0 200px 0;
    }

   

/* about me */

    #about{
        margin-top: 30px;
        display: block;

    }

    #about .flexbox{
        height: fit-content;
      
    }
    #about .img-sectie{
        margin-left: 15vw;
        float: left;
        width: 40vw;
       
    }
    #about .text-sectie{
        max-width: 30vw;
        margin: 5vw 10vw 0 0;
        float: right;
      
       
    }

    #about img{
        max-width: 40%;
    }

    .img-sectie img:nth-child(1) {
        display: block;
        margin-left: 50px;
        margin-right: 0px;
    }
    .img-sectie img:nth-child(2) {
       padding-bottom: 40px;
       margin-top: 10px;
    }
    .img-sectie img:nth-child(3) {
        margin-top: 20px;
        margin-left: 10px;
    }
   

/* skils */
    #skils{
        padding-top: 200px;
        clear: both;
    }
    #skils h1{
        text-align: center;
        margin-bottom: 50px;
    }
    #skils .flex-wrap{
        margin:100px auto;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        grid-auto-rows: minmax(100px, auto);
        row-gap: 100px;

    }
    .skill-icon{
        text-align: center;
    }
    .skill-icon img{
        max-width: 70%;
    }
    .skill-icon p{
        margin-top: 1rem;
    }


/* projects */
#projects{
    position: relative;
    margin-top: 250px;
    text-align: center;
    clear: both;
   overflow: hidden;
   padding-bottom: 200px;
}
#projects::before{
   content: '';
   display: block;
   background-color: aqua;
   width: 50px;
   height: 100%;

}
#lijn-project{
    position: absolute;
    height: 2000vh;
    margin-top: 2rem;
    left: 50%;
}
#pijl1{
    position: absolute;
    height: 50px;
    margin-top: calc(400vh - 10px);
    left: calc(50% + 17px);
    transform: rotate(45deg);
}
#pijl2{
    position: absolute;
    height: 50px;
    margin-top: calc(400vh - 10px);
    left: calc(50% - 17px);
    transform: rotate(-45deg);
}

#lijn-project1{
    position: relative;
    height: 200px;
    margin-top: 0px;
    left: 50%;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px;
}
#pijl3{
    position: relative;
    height: 50px;
    left: calc(50% + 17px);
    transform: rotate(45deg);
    bottom: 75px;
}
#pijl4{
    position: relative;
    height: 50px;
    bottom: 25px;
    left: calc(50% - 17px);
    transform: rotate(-45deg);
}

.project{
    max-width: 49vw;
    text-align: center;
    display: block;
    background-color: black;
    
}
.project h2{
    display: block;
    cursor: pointer;
    margin-top:0;
}
.project img{
    max-width: 40px;
}
.video-wrap{
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    
}
 video{
    max-width: 300px;
    border-radius: 20px;
}
.lijn-project{
    position: relative;
    width: 3vw;
    margin-left: 85%;
    transform: translate(0,100px);
    background-color: #E9EBFF;
}
.project:hover .lijn-project{
    background-color: #EFCA08;
}
.project:nth-of-type(1){
    margin-top: 150px;
    
}
.project:nth-of-type(2){
    margin: 0 0 0 51vw;
}
.project:nth-of-type(2) .lijn-project{
    margin-left: 10%;
}


.project:nth-of-type(2) .video{
    transform: translate(0,0px);
}

.project:nth-of-type(3) img{
    width: 200px;
}
#cda-img{
    max-width: 100%;
}
.project:nth-of-type(4){
    margin: 0 0 0 51vw;
}
.project:nth-of-type(4) .lijn-project{
    margin-left: 10%;
}
.project:nth-of-type(4)  h2{
    
    margin-top: 2rem;
}
.project:nth-of-type(4) .video-wrap{
    width: 200px;
    height: 280px;
    border-radius:20px;   
}
.project:nth-of-type(4) video{
    transform: translate(0px,0px);
}
.project:nth-of-type(5) .video-wrap{
    width: 200px;
    height: 290px;
    border-radius:15px;  
}
.project:nth-of-type(5)  h2{
    
    margin-top: 2rem;
}
.project:nth-of-type(6){
    margin: 0 0 0 51vw;
}
.project:nth-of-type(6) .lijn-project{
    margin-left: 10%;
}
.project:nth-of-type(6) img{
    width: 60%; 
    
}





/* contact */
#contact{
    margin-bottom: 25vh;
}
#contact a{
    display:block;
    width: 20vw;
    margin: 0 auto;
    min-width: 300px;
    

}
#contact img{
    display: inline;
    max-width: 20%;
    vertical-align:middle;
}
#contact p{
    display: inline;
    text-align: center;
    cursor: pointer;
    vertical-align:middle;
    color: #EFCA08;

}


@media only screen and (max-width: 920px) {
    .lijn-project{
        display: none;
    }
    .project:nth-of-type(1){
        margin: 140px auto 40px auto !important;
        
    }
    .project{
        margin: 100px auto 100px auto !important;
        padding: 50px 0 50px 0;
    }
    
    #projects{
        min-height: 400vh;
    }
}

@media only screen and (max-width: 770px) {
    section a{
        font-size: 2rem;
    }
    .hoverFilter{
        filter: grayscale(0);
    }
    .project.hoverFilter{
        filter: grayscale(0);
    }
    .skill-icon img{
        max-width: 60%;}
        #skils .flex-wrap{
            margin:100px auto;
            max-width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            grid-auto-rows: minmax(100px, auto);
            row-gap: 100px;
        }
        #about .img-sectie{
            margin: 0 35%;
            float: none;
            width: 50vw;
           
        }
        #about .text-sectie{
            max-width: 60vw;
            margin: 100px auto;
            float: none;
          
           
        }
}
@media only screen and (max-width: 426px) {
    section a{
        font-size: 1.5rem;

    }
    #home{
        padding:30vh 0 200px 0;
    }
    section .typer{
        margin: 50px 30px; 
    }
    #logo{
        display: block;
        max-width: 70vw;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    h1:hover{
        color: #EFCA08;
    }

    h2:hover{
        color: #EFCA08;
    }

    h3:hover{
        color: #E9EBFF;
    }

    p:hover{
        color: #E9EBFF;
    }  
    #about .text-sectie{
        max-width: 90vw;
        
       
    } 
    #about .img-sectie{
        margin: 0 0 0 10vw;
        float: none;
        width: 90vw;
       
    }
    header a{
        margin-right: 8vw;
        font-size: 13px;
    }
    .project{
        max-width: 70vw;
    }
    .project:nth-of-type(6) h2{
       font-size: 1rem;
    }
    #contact p{
        color: #E9EBFF;
    }
}